<gridster [options]="options" [class]="editMode? 'inEditMode' :''">
  @for (item of dashboard; track item) {
  <gridster-item [item]="item">
    @if (item.widget.type === 'forecast') {
    <app-forecast></app-forecast>
    }
    @if (item.widget.type === 'chart') {
    <app-weather-chart [config]="item.widget"></app-weather-chart>
    }
    @if (item.widget.type === 'map') {
    <app-weather-map [config]="item.widget"></app-weather-map>
    }
  </gridster-item>
  }
</gridster>
<div class="buttonContainer" [style.display]="editMode? 'flex':'none' ">
  <button (click)="toggleEditMode()"><i [class]="editMode? 'fa-solid fa-x' : ''"></i></button>
  <button (click)="addWidget()" [style.display]="editMode? 'block':'none'"><i class="fas fa-plus"></i></button>
</div>